DATABASE_URI=mongomock://localhost:27017/db
PYTHONPATH=/speid
FLASK_SKIP_DOTENV=1
AMPQ_ADDRESS=rabbitmq
SPEID_ENV=debug
FLASK_APP=speid
FLASK_ENV=development
STP_EMPRESA=TAMIZI
STP_KEY_PASSPHRASE=12345678
STP_PRIVATE_KEY=prueba-key.pem
EDIT_HOSTS=false
HOST_AD=test.com
HOST_IP=1.0.0.1
BACKEND_URL=https://testapi/set
BACKEND_JWT_TOKEN=supertoken
SENTRY_DSN=https://1@sentry.io/2
SENTRY_ENVIRONMENT=dev
CELERY_REGION=us-east-1
CELERY_NAME_PREFIX=celery-
